
@{
    ViewBag.Title = "Repairs";
}
<hr />
<div class="row">

    <div class="col-md-2">

        @Html.ActionLink("Компьютерная диагностика", "Repairs1", "Home")
    </div>
    <div class="col-md-2">

        @Html.ActionLink("Диагностика и ремонт подвески", "Repairs2", "Home")
    </div>
    <div class="col-md-2">

        @Html.ActionLink("Диагностика и ремонт двигателей", "Repairs3", "Home")
    </div>
    <div class="col-md-2">

        @Html.ActionLink("Замена ремня ГРМ", "Repairs4", "Home")
    </div>
    <div class="col-md-2">

        @Html.ActionLink("Замена масла в двигателе, АКПП и МКПП", "Repairs5", "Home")
    </div>
    <div class="col-md-2">

        @Html.ActionLink("Шиномонтаж", "Repairs6", "Home")
    </div>

</div>
